<?xml version="1.0"?>
<launch>
  <arg name="db" default="false" />
  <arg name="debug" default="false" />
  <arg name="load_robot_description" default="false"/>
  <arg name="use_gui" default="false" />
  <arg name="gazebo_gui" default="true"/>
  <arg name="paused" default="false"/>
  <arg name="urdf_path" default="$(find exproblab_ass3)/urdf/my_robot.urdf"/>
  <arg name="use_rviz" default="true"/>

  <include file="$(find exp_assignment3)/launch/simulation.launch"></include>
  
  <param name="robot_description" textfile="$(arg urdf_path)" />
  
  <node name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model robot -x 0 -y -1 -z 0 -Y 3.1416 -J arm_base_to_base -1.57 -J arm_joint_01 0
  -J arm_joint_02 0 -J arm_joint_03 0 -J arm_joint_04 0" respawn="false" output="screen" />
  
  <!-- Load joint controller parameters for Gazebo -->
<rosparam file="$(find moveit_ass3_pkg)/config/gazebo_controllers.yaml" />-
  <!-- Spawn Gazebo ROS controllers -->
  <node name="gazebo_controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="joint_state_controller" />
  <!-- Load ROS controllers -->
  <include file="$(find moveit_ass3_pkg)/launch/ros_controllers.launch"/>
  
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" unless="$(arg use_gui)">
    <rosparam param="source_list">[move_group/fake_controller_joint_states]</rosparam>
  </node>
  <node name="joint_state_publisher" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" if="$(arg use_gui)">
    <rosparam param="source_list">[move_group/fake_controller_joint_states]</rosparam>
  </node>
  
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" />
  
  <include file="$(find moveit_ass3_pkg)/launch/move_group.launch">
    <arg name="allow_trajectory_execution" value="true"/>
    <arg name="fake_execution_type" value="inerpolate"/>
    <arg name="info" value="true"/>
    <arg name="debug" value="$(arg debug)"/>
    <arg name="load_robot_description" value="$(arg load_robot_description)"/>
  </include>
  
  
 <!-- Run Rviz and load the default config to see the state of the move_group node -->
  <include file="$(find moveit_ass3_pkg)/launch/moveit_rviz.launch" if="$(arg use_rviz)">
    <arg name="rviz_config" value="$(find exproblab_ass3)/config/my_config.rviz"/>
    <arg name="debug" value="$(arg debug)"/>
  </include>
  
  <include file="$(find exproblab_ass3)/launch/move_base.launch"> </include>
  
  <node name="final_oracle" pkg ="exp_assignment3" type="final_oracle" /> 
  <node name="move_arm" pkg="exproblab_ass3" type ="move_arm.py"/>
  <node name="marker_publisher" pkg ="aruco_ros" type="marker_publisher" args="/image:=/robot/camera1/image_raw"/>
  <!--<node name="image_view" pkg ="image_view" type="image_view" args="/image:=/robot/camera1/image_raw"/> -->
  
</launch>
